inquirybuilder/force-app/main/default/flows/InquiryMainController.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_First_Element</name>
        <label>Set First Element</label>
        <locationX>230</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>NextElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a3t6g0000007taAAAQ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_Element_Definition</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>AnswerChoice</name>
        <dataType>String</dataType>
        <displayField>Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Question_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Next_Element_Definition.Question_Definition__c</elementReference>
            </value>
        </filters>
        <limit>200</limit>
        <object>CSA_Answer_Definition__c</object>
        <outputAssignments>
            <assignToReference>NextElement</assignToReference>
            <field>Next_Element__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>InquiryMainController {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InquiryMainController</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Next_Element_Definition</name>
        <label>Get Next Element Definition</label>
        <locationX>399</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuestionContainer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextElement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSA_Inquiry_Element_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>QuestionContainer</name>
        <label>Question</label>
        <locationX>656</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Next_Element_Definition</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;p&gt;{!Get_Next_Element_Definition.Question_Definition__r.Question__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answers</name>
            <choiceReferences>AnswerChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pauseButtonLabel>Save for Later</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>271</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Set_First_Element</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
