inquirybuilder/force-app/main/default/flows/InquiryMainController.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_First_Element</name>
        <label>Set First Element</label>
        <locationX>340</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>NextElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a3t6g0000007taAAAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Inquiry_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_Element_Definition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Element_Type</name>
        <label>Check Element Type</label>
        <locationX>666</locationX>
        <locationY>114</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isQuestion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Element_Definition.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuestionContainer</targetReference>
            </connector>
            <label>isQuestion</label>
        </rules>
        <rules>
            <name>isContent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Element_Definition.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content</targetReference>
            </connector>
            <label>isContent</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnswerChoice</name>
        <dataType>String</dataType>
        <displayField>Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Question_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Next_Element_Definition.Question_Definition__c</elementReference>
            </value>
        </filters>
        <limit>200</limit>
        <object>CSA_Answer_Definition__c</object>
        <outputAssignments>
            <assignToReference>NextElement</assignToReference>
            <field>Next_Element__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CSASolutionExplorer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InquiryMainController</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inquiry_Record</name>
        <label>Create Inquiry Record</label>
        <locationX>68</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Get_Access_Code</targetReference>
        </connector>
        <inputAssignments>
            <field>Inquiry_Template__c</field>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputAssignments>
        <object>CSA_Inquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Inquiry_Response</name>
        <label>Create Inquiry Response</label>
        <locationX>1068</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Get_Next_Element_Definition</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorHandling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Inquiry_Element__c</field>
            <value>
                <elementReference>Get_Next_Element_Definition.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inquiry__c</field>
            <value>
                <elementReference>Create_Inquiry_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Answers</elementReference>
            </value>
        </inputAssignments>
        <object>CSA_Inquiry_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Access_Code</name>
        <label>Get Access Code</label>
        <locationX>209</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_First_Element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Inquiry_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSA_Inquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Element_Definition</name>
        <label>Get Next Element Definition</label>
        <locationX>489</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Element_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextElement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSA_Inquiry_Element_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Content</name>
        <label>Content</label>
        <locationX>835</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Inquiry_Response</targetReference>
        </connector>
        <fields>
            <name>Content_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Content_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InquiryTemplate_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;CSA Solution Explorer Tool&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Construction and Renovations&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Content_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Content_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Access_Code_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Access Code:&lt;/span&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt; &lt;/i&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Access_Code.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Responses_0</name>
                    <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;Information You Provided:&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;{!InformationYouProvided}&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AdditionalResources_0</name>
                    <extensionName>c:displayAdditionalResources</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>elementId</name>
                        <value>
                            <elementReference>Get_Next_Element_Definition.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Next_Element_Definition.Id</assignToReference>
                        <name>elementId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Content_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question_0</name>
                    <fieldText>&lt;p&gt;{!Get_Next_Element_Definition.Web_Content__r.Title__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Question_HelpText_0</name>
                    <fieldText>&lt;p&gt;{!Get_Next_Element_Definition.Web_Content__r.Content__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <pauseButtonLabel>Save for Later</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorHandling</name>
        <label>ErrorHandling</label>
        <locationX>1176</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Handling</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QuestionContainer</name>
        <label>Question</label>
        <locationX>948</locationX>
        <locationY>106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Inquiry_Response</targetReference>
        </connector>
        <fields>
            <name>QuestionContainer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>QuestionContainer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InquiryTemplate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;CSA Solution Explorer Tool&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Construction and Renovations&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>QuestionContainer_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>QuestionContainer_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Access_Code</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Access Code:&lt;/span&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt; &lt;/i&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Access_Code.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Responses</name>
                    <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;Information You Provided:&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;{!InformationYouProvided}&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AdditionalResources</name>
                    <extensionName>c:displayAdditionalResources</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>elementId</name>
                        <value>
                            <elementReference>Get_Next_Element_Definition.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Next_Element_Definition.Id</assignToReference>
                        <name>elementId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>QuestionContainer_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!Get_Next_Element_Definition.Question_Definition__r.Question__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Question_HelpText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!Get_Next_Element_Definition.Question_Definition__r.Help_Text__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Answers</name>
                    <choiceReferences>AnswerChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <pauseButtonLabel>Save for Later</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>271</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Create_Inquiry_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InformationYouProvided</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>templateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
